.header{
    display: flex;
    color: white;
    padding: 20px;
    justify-content:space-between;
    align-items: center;
    overflow-x: scroll;
}

.header__icon > .MuiSvgIcon-root{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.header::-webkit-scrollbar{
    display: none;
}

.header{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header >img{
    object-fit: contain;
    height: 80px;
    flex: 0.2;
}

.header__icon--active > p{
    display: inline-flex !important;
}

.header__icon > p{
    display: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
}

.header__icon:hover > p{
    display: inline;
}

.header__icon{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width:100%;
    flex: 0.8;
    margin-right: auto;
    margin-left:auto ;
}

.header__icons{
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
}